<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/script.js" defer></script>
  <link id="tema" rel="stylesheet" href="/light.css" type="text/css">
  <%- include("./partikel/navigasi.ejs") %>
</head>

    
<body id="home">
  <div id="jumbotron" class="jumbotron">
    <center><img src="https://cdn.discordapp.com/avatars/580640622235484161/b60f57191d938c2e07a7077639834d6d.webp?size=4096" width="100" height="100" alt="avatar" class="avatar">
      <h1 class="text1">Christian Jeremy</h1></center>
    <!--<p class="text"><i class="fa fa-user"></i> <b>Rebahan</b> | <b>Front End Web</b> | <b>Nolep</b></p>-->
  </div>
  
  <center><div class="container">
    <h1 class="judul">About Me</h1>
    <hr class="judul-pembatas">
  
    <div id="about">
    <h3>Who am i?</h3>
    <p id="a">I am just a student who comes from Indonesia, I was born on 07-May-2007 Bandar Lampung and my name is Christian Jeremy Kusuma</p>
    <br>
    <h3>What I like?</h3>
    <p id="b" class="b">I like fried rice because it's delicious, I like black because it's dark, and I like creating websites because I like it</p>
    </div>
  </div></center>
  
</body>
</html>
